In [2]:
import pandas as pd

In [3]:
skill = pd.read_csv(r"C:\Users\ASUS\Desktop\Machine Learning\Pratice Projects\Data Analyst Jobs In Canada\Data Abnalyst job in canada datasheet\Excel Files\skills_by_job_title.csv")
skill

,Job Title,Skill
0,Senior Data Analysts,"A/B testing, AS400, ASP.NET, AWS, Adobe Illust..."
1,Senior Supply Chain Data Analysts,"Accounting, Accounts payable, Agile, Alteryx, ..."
2,Systems and Data Analysts,".Net, ADP, AI, APIs, AWS, Administrative exper..."

In [4]:
def remove_duplicates(skills):
    skill_list = [skill.strip().lower() for skill in skills.split(',')]
    unique_skills = list(set(skill_list))
    return ', '.join(unique_skills)

In [5]:
skill['Skill'] = skill['Skill'].apply(remove_duplicates)
skill

,Job Title,Skill
0,Senior Data Analysts,"primavera, gitlab, power bi, salesforce, marke..."
1,Senior Supply Chain Data Analysts,"salesforce, gitlab, power bi, marketing, mysql..."
2,Systems and Data Analysts,"hris, primavera, salesforce, power bi, stata, ..."

In [6]:
def sort_skills(skills):
    skill_list = [skill.strip().lower() for skill in skills.split(',')]
    unique_skills = sorted(set(skill_list))
    return ', '.join(unique_skills)

In [7]:
skill['Skill'] = skill['Skill'].apply(sort_skills)

In [8]:
skill.to_csv('cleaned_skills_data.csv', index=False)